@CHARSET "ISO-8859-1";

#viewSelecterDiv {
	position:absolute;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    top: 30px; 
    left: 40px;
}

.viewDiv{
    position:absolute;
    width: 1000px;
    height: 1850px;
    margin: 3px; 
    padding: 20px;
    background: #b3c8d0;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    top: 90px; 
    left: 40px;
}

.navigationDiv {
    position: relative;
    top: 5px;
    align-content: center;
    font-size: 20px;
    background-color:#239da7;
    border: 1px solid #000;
    padding: 10px;
    font-family: fantasy;    
}

#monthViewDiv {
    border: 5px solid #ff0606;
}

#weekViewDiv {	
    border: 5px solid #1400ff;
}

#dayViewDiv {	
    border: 5px solid #01ff80;
}

#monthCalendarTable,#weekCalendarTable,#dayCalendarTable {
    border-spacing: 5px;
    padding: 5px;
    border-style:solid;
    /*text-align: center;*/
    border: 1 ;
    border-collapse:separate;
    width: 100%;
    top: 30px;
    position: relative;
    table-layout: fixed;
}

#monthCalendarTable th ,#weekCalendarTable th,#dayCalendarTable th{
    font-size: 20px;
    background-color:forestgreen;
    border: 1px solid #000;
    padding: 10px;  
}

#monthCalendarTable td,#weekCalendarTable td,#dayCalendarTable td{
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid black;
    padding: 15px;  
}

.evntDivTag {
    font-size: 15px;
    text-align: center;
    background-color: #ff8000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: comic sans ms;
    font-style: italic;
    margin-bottom: 3px;
}

.eventPopupDiv{
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    background-color: #d27cff;
    border-top-left-radius: -30px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: auto;
    height: auto;
    text-decoration-color: chocolate;
    text-align: left;
}

.popDivHeader{
    font-weight: bold;
}

.monthTableDayLbl{
    font-size: 15px;
    font-style: italic;
    position: relative;
    text-align: right;
    top: -5px;
}