@CHARSET "ISO-8859-1";
event{
	position:relative;
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    background: #b3c8d0;
    border: 1px solid black;
    font-size: 16pt;
}